*{
    margin: 0;
    padding: 0;
}

body{
    background-color:#fff;
}

nav{
    background: #444C38;
    position: relative;
    z-index: 1;
}

nav li{
    display: inline-block;

}

nav li a{
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 15px;
}

nav li a:hover{
background-color:#8F9779;
}

.dropdown-menu{
    position: absolute;
    box-shadow: 0 0 2px black;
    display: none; /*Não exibir ele por padrão*/
    background-color: #444C38;
}

.dropdown-menu a{
    display: block;
    color: white;
}

.dropdown:hover .dropdown-menu{
    display: block;
}



/*Colocando o logo la direita*/
#Logo {
    position: absolute; /* Posição está relativa com isso posso colocar imagem onde quiser*/
    border-radius: 20px; /*Borda*/
    right: 20PX;
    height: 50px;
    
}

#Imagem{
    display: flex;
    justify-content:space-between;
    opacity: 0.8;
    padding:0;
}
#Imagem1{
    opacity: 0.7;
}

/*Formulário*/
.Formulário{
    z-index: 1;
    position: absolute;
    top: 160px;
    right: 400px;
    color:rgb(20, 31, 78);
    text-shadow: 0px 0px 0px black;
    background-color:  #fff;
    border-radius: 10px;
    opacity: 0.9;


}

#check{
    padding: 20px;
    height: 390px;
    width: 16px;
    border-radius: 10px;
}

.campo{
    padding: 10px;
}

#campotext{
    padding: 10px;
}

textarea {
    width: 200px;
    height: 8rem;
    resize: none;

}

/*Caixas do formulário*/
#caixa1{
    width: 200px;    
}
#caixa2{
    width: 200px;    
}
#caixa3{
    width: 200px;    
}
#enviar{
    padding: 10px;
}

#botao:hover{
    background-color: #add8e6;
    color: black;   
    transition: 0.2s;
    transform: scale(1.2);
}
#textrota:hover {
    transition: 0.5s;
    transform: scale(1.2);
}

#botao{
    padding: 12px;
    border-radius: 20px;
    border-color:rgb(20, 31, 78);
    background-color: rgb(20, 31, 78);
    opacity: 0.8;
    color: #fff;
}   
/*Fim do formulário*/

footer{
    background: #444C38;
    padding: 10px;
    text-align: center;
    color: #fff;
    font-family: Brush Script MT, Brush Script Std, cursive;
    font-size:20px;

}



@media screen and (max-width: 768px) {


    .nav{
        display: block;
    } 
  
  

    .Formulário {
      position: relative; 
      top: auto;         
      right: auto;        
      margin: 20px;      
    }
  
    /* Form Fields */
    #caixa1, #caixa2, #caixa3 {
      width: 100%;  
    }
  
    /* Text Area */
    textarea {
      width: 100%;  
    }
    #Logo{
        width: 70px;
    }
  }



